<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= campground.title %></h1>
	<h2><%= campground.location %></h2>

	<h5><a href="/campgrounds">Back Home</a></h5>
	<h5><a href="/campgrounds/<%= campground._id %>/edit">Edit</a></h5>

</body>
</html>